<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bff4aa5920f94caa9348cc3d7b78fee7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bff4aa5920f94caa9348cc3d7b78fee7" ></div>
        
</body>
<script>    
    
            var map_bff4aa5920f94caa9348cc3d7b78fee7 = L.map(
                "map_bff4aa5920f94caa9348cc3d7b78fee7",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2b377c4921a246c78c34b667ad88f114 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bff4aa5920f94caa9348cc3d7b78fee7);
        
    
            var feature_group_02af6072a74242f6b1ebacf8e67e3cb2 = L.featureGroup(
                {}
            ).addTo(map_bff4aa5920f94caa9348cc3d7b78fee7);
        
    
            var marker_1c1b412f27d04aeaac03015a82d685d3 = L.marker(
                [42.6410472, -70.6165149],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_442d9e522d604f9cb5c3f265367a0888 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1c1b412f27d04aeaac03015a82d685d3.setIcon(icon_442d9e522d604f9cb5c3f265367a0888);
        
    
        var popup_254e261381df4a199c034133e4b1d734 = L.popup({"maxWidth": "100%"});

        
            var html_ae2e0f2ec52b4dc782cd314f23d02dcd = $(`<div id="html_ae2e0f2ec52b4dc782cd314f23d02dcd" style="width: 100.0%; height: 100.0%;">dogecoin_devs</div>`)[0];
            popup_254e261381df4a199c034133e4b1d734.setContent(html_ae2e0f2ec52b4dc782cd314f23d02dcd);
        

        marker_1c1b412f27d04aeaac03015a82d685d3.bindPopup(popup_254e261381df4a199c034133e4b1d734)
        ;

        
    
    
            marker_1c1b412f27d04aeaac03015a82d685d3.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54aceaf32a3e41be8ff47d9a53bd1e35 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_4a7932cbe58043ab93815e67172d2302 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_54aceaf32a3e41be8ff47d9a53bd1e35.setIcon(icon_4a7932cbe58043ab93815e67172d2302);
        
    
        var popup_3112de6abcb64195bf1775567746b68e = L.popup({"maxWidth": "100%"});

        
            var html_02e8cf2f85cd475393e334975673844c = $(`<div id="html_02e8cf2f85cd475393e334975673844c" style="width: 100.0%; height: 100.0%;">dogecoin</div>`)[0];
            popup_3112de6abcb64195bf1775567746b68e.setContent(html_02e8cf2f85cd475393e334975673844c);
        

        marker_54aceaf32a3e41be8ff47d9a53bd1e35.bindPopup(popup_3112de6abcb64195bf1775567746b68e)
        ;

        
    
    
            marker_54aceaf32a3e41be8ff47d9a53bd1e35.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa5adafa0d4e4d9da4e2d0c6545a1003 = L.marker(
                [37.426540700000004, -122.17029258409187],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_c68c0c1f49764e358e39494f149a465c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fa5adafa0d4e4d9da4e2d0c6545a1003.setIcon(icon_c68c0c1f49764e358e39494f149a465c);
        
    
        var popup_fb6d4b16471744bd9534f58c28152874 = L.popup({"maxWidth": "100%"});

        
            var html_54f0399ce8eb463995b80c1a5750345f = $(`<div id="html_54f0399ce8eb463995b80c1a5750345f" style="width: 100.0%; height: 100.0%;">karpathy</div>`)[0];
            popup_fb6d4b16471744bd9534f58c28152874.setContent(html_54f0399ce8eb463995b80c1a5750345f);
        

        marker_fa5adafa0d4e4d9da4e2d0c6545a1003.bindPopup(popup_fb6d4b16471744bd9534f58c28152874)
        ;

        
    
    
            marker_fa5adafa0d4e4d9da4e2d0c6545a1003.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58ce8a67e1d44595bb1d81af8abe24ac = L.marker(
                [29.5517223, -95.0985272],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_bcb302f2e718477bb92d427b5eb064c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_58ce8a67e1d44595bb1d81af8abe24ac.setIcon(icon_bcb302f2e718477bb92d427b5eb064c9);
        
    
        var popup_8ae9539809db4221a0d6b38c3151a960 = L.popup({"maxWidth": "100%"});

        
            var html_f629560fc75e4bf29a7f1519058be2f6 = $(`<div id="html_f629560fc75e4bf29a7f1519058be2f6" style="width: 100.0%; height: 100.0%;">Astro_Soichi</div>`)[0];
            popup_8ae9539809db4221a0d6b38c3151a960.setContent(html_f629560fc75e4bf29a7f1519058be2f6);
        

        marker_58ce8a67e1d44595bb1d81af8abe24ac.bindPopup(popup_8ae9539809db4221a0d6b38c3151a960)
        ;

        
    
    
            marker_58ce8a67e1d44595bb1d81af8abe24ac.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ebb6cb54fc904bffbb4a3718f2bec679 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_f07d9aaa6b4f4777bcb09fd3ba50d160 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ebb6cb54fc904bffbb4a3718f2bec679.setIcon(icon_f07d9aaa6b4f4777bcb09fd3ba50d160);
        
    
        var popup_4b9135ff94a84596b23d6d109bc2186f = L.popup({"maxWidth": "100%"});

        
            var html_9484b55fe369482a8f608f60109fe6d3 = $(`<div id="html_9484b55fe369482a8f608f60109fe6d3" style="width: 100.0%; height: 100.0%;">PopMech</div>`)[0];
            popup_4b9135ff94a84596b23d6d109bc2186f.setContent(html_9484b55fe369482a8f608f60109fe6d3);
        

        marker_ebb6cb54fc904bffbb4a3718f2bec679.bindPopup(popup_4b9135ff94a84596b23d6d109bc2186f)
        ;

        
    
    
            marker_ebb6cb54fc904bffbb4a3718f2bec679.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae376e45513e4f4aa4f63cc06d4a9e8b = L.marker(
                [-6.1753942, 106.827183],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_e571ae37b0494938b33b9a5e0630b166 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ae376e45513e4f4aa4f63cc06d4a9e8b.setIcon(icon_e571ae37b0494938b33b9a5e0630b166);
        
    
        var popup_f81b91b3bb404897aae0fd43375708a6 = L.popup({"maxWidth": "100%"});

        
            var html_e95a425c3ba146538d82d69a7db9ded4 = $(`<div id="html_e95a425c3ba146538d82d69a7db9ded4" style="width: 100.0%; height: 100.0%;">Nigel_Lockyer</div>`)[0];
            popup_f81b91b3bb404897aae0fd43375708a6.setContent(html_e95a425c3ba146538d82d69a7db9ded4);
        

        marker_ae376e45513e4f4aa4f63cc06d4a9e8b.bindPopup(popup_f81b91b3bb404897aae0fd43375708a6)
        ;

        
    
    
            marker_ae376e45513e4f4aa4f63cc06d4a9e8b.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2509c127af746b49a670acfeb9a81d1 = L.marker(
                [58.57203591309991, 23.248636107957175],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_c64b90bb15f94243ad6e24f59c3eaa63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a2509c127af746b49a670acfeb9a81d1.setIcon(icon_c64b90bb15f94243ad6e24f59c3eaa63);
        
    
        var popup_a495400f60754556a87e7bfd77c552ac = L.popup({"maxWidth": "100%"});

        
            var html_cde7700d7d50498fab32af0469818692 = $(`<div id="html_cde7700d7d50498fab32af0469818692" style="width: 100.0%; height: 100.0%;">jagarikin</div>`)[0];
            popup_a495400f60754556a87e7bfd77c552ac.setContent(html_cde7700d7d50498fab32af0469818692);
        

        marker_a2509c127af746b49a670acfeb9a81d1.bindPopup(popup_a495400f60754556a87e7bfd77c552ac)
        ;

        
    
    
            marker_a2509c127af746b49a670acfeb9a81d1.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9ac6cc96220c4a26a7557bce05868938 = L.marker(
                [31.2322758, 121.4692071],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_28ec7e5f28244c55824af3ec0c6c4522 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9ac6cc96220c4a26a7557bce05868938.setIcon(icon_28ec7e5f28244c55824af3ec0c6c4522);
        
    
        var popup_450e246510ca49709fec87826acbc9db = L.popup({"maxWidth": "100%"});

        
            var html_6cb6f8f07c084f9fbde3c462bc302f15 = $(`<div id="html_6cb6f8f07c084f9fbde3c462bc302f15" style="width: 100.0%; height: 100.0%;">teslacn</div>`)[0];
            popup_450e246510ca49709fec87826acbc9db.setContent(html_6cb6f8f07c084f9fbde3c462bc302f15);
        

        marker_9ac6cc96220c4a26a7557bce05868938.bindPopup(popup_450e246510ca49709fec87826acbc9db)
        ;

        
    
    
            marker_9ac6cc96220c4a26a7557bce05868938.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54dd33a2c7e545db9f1fdbf9c088d2a5 = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_3edb145930b54504a3eb770e9da08ba2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_54dd33a2c7e545db9f1fdbf9c088d2a5.setIcon(icon_3edb145930b54504a3eb770e9da08ba2);
        
    
        var popup_24e65359cab94ca7ac6055fcb3d45b7e = L.popup({"maxWidth": "100%"});

        
            var html_e18b5255d6d1476c8c7521a2195e7078 = $(`<div id="html_e18b5255d6d1476c8c7521a2195e7078" style="width: 100.0%; height: 100.0%;">DeepMind</div>`)[0];
            popup_24e65359cab94ca7ac6055fcb3d45b7e.setContent(html_e18b5255d6d1476c8c7521a2195e7078);
        

        marker_54dd33a2c7e545db9f1fdbf9c088d2a5.bindPopup(popup_24e65359cab94ca7ac6055fcb3d45b7e)
        ;

        
    
    
            marker_54dd33a2c7e545db9f1fdbf9c088d2a5.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_200c279d59dd46a9a069d7273f1b6375 = L.marker(
                [28.58977955, -81.19966950777493],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_8a8533fbbbde470eb2e98329b99d7c8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_200c279d59dd46a9a069d7273f1b6375.setIcon(icon_8a8533fbbbde470eb2e98329b99d7c8e);
        
    
        var popup_36889ec7921547299b118f72a0a34147 = L.popup({"maxWidth": "100%"});

        
            var html_6228652092c2407c82a0e5b3088b1425 = $(`<div id="html_6228652092c2407c82a0e5b3088b1425" style="width: 100.0%; height: 100.0%;">ashleevance</div>`)[0];
            popup_36889ec7921547299b118f72a0a34147.setContent(html_6228652092c2407c82a0e5b3088b1425);
        

        marker_200c279d59dd46a9a069d7273f1b6375.bindPopup(popup_36889ec7921547299b118f72a0a34147)
        ;

        
    
    
            marker_200c279d59dd46a9a069d7273f1b6375.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0273397c70a14557a6b0c3279cdb1218 = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_b11920a21d1443b593ffb85a1972cb4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0273397c70a14557a6b0c3279cdb1218.setIcon(icon_b11920a21d1443b593ffb85a1972cb4c);
        
    
        var popup_be03597e1aff425dbd56587fb77d3df6 = L.popup({"maxWidth": "100%"});

        
            var html_d21322307b5a417ab52d9e8249eaf712 = $(`<div id="html_d21322307b5a417ab52d9e8249eaf712" style="width: 100.0%; height: 100.0%;">MLevitt_NP2013</div>`)[0];
            popup_be03597e1aff425dbd56587fb77d3df6.setContent(html_d21322307b5a417ab52d9e8249eaf712);
        

        marker_0273397c70a14557a6b0c3279cdb1218.bindPopup(popup_be03597e1aff425dbd56587fb77d3df6)
        ;

        
    
    
            marker_0273397c70a14557a6b0c3279cdb1218.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f29ab291e18f43b3aaeb747ee261b7af = L.marker(
                [32.7762719, -96.7968559],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_cba5493ed88d4ddf8617b8acbfcd5d28 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f29ab291e18f43b3aaeb747ee261b7af.setIcon(icon_cba5493ed88d4ddf8617b8acbfcd5d28);
        
    
        var popup_998713ad91f548e3a61605ad1a9cb0b3 = L.popup({"maxWidth": "100%"});

        
            var html_c21505f0b0eb437c942d073ff486e5e1 = $(`<div id="html_c21505f0b0eb437c942d073ff486e5e1" style="width: 100.0%; height: 100.0%;">ID_AA_Carmack</div>`)[0];
            popup_998713ad91f548e3a61605ad1a9cb0b3.setContent(html_c21505f0b0eb437c942d073ff486e5e1);
        

        marker_f29ab291e18f43b3aaeb747ee261b7af.bindPopup(popup_998713ad91f548e3a61605ad1a9cb0b3)
        ;

        
    
    
            marker_f29ab291e18f43b3aaeb747ee261b7af.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d746da70da145849c0eb6c93feb6f95 = L.marker(
                [51.51721487044185, -0.1117795615131498],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_e8471457f83549d1ab389999a6efe172 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4d746da70da145849c0eb6c93feb6f95.setIcon(icon_e8471457f83549d1ab389999a6efe172);
        
    
        var popup_929d6ff2df9e4e7696adb641334e665e = L.popup({"maxWidth": "100%"});

        
            var html_e38b9bab887348f199372853e050a367 = $(`<div id="html_e38b9bab887348f199372853e050a367" style="width: 100.0%; height: 100.0%;">TalulahRiley</div>`)[0];
            popup_929d6ff2df9e4e7696adb641334e665e.setContent(html_e38b9bab887348f199372853e050a367);
        

        marker_4d746da70da145849c0eb6c93feb6f95.bindPopup(popup_929d6ff2df9e4e7696adb641334e665e)
        ;

        
    
    
            marker_4d746da70da145849c0eb6c93feb6f95.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0c0bca6840394605a25b447f2db69287 = L.marker(
                [40.73951000550514, -73.98535059703623],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_aa8cf008aef34cb39bf005f521c62655 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0c0bca6840394605a25b447f2db69287.setIcon(icon_aa8cf008aef34cb39bf005f521c62655);
        
    
        var popup_bea10a51a5b140fd86d9a21e69da2ba9 = L.popup({"maxWidth": "100%"});

        
            var html_50944e90d6294363856b555942478560 = $(`<div id="html_50944e90d6294363856b555942478560" style="width: 100.0%; height: 100.0%;">MKBHD</div>`)[0];
            popup_bea10a51a5b140fd86d9a21e69da2ba9.setContent(html_50944e90d6294363856b555942478560);
        

        marker_0c0bca6840394605a25b447f2db69287.bindPopup(popup_bea10a51a5b140fd86d9a21e69da2ba9)
        ;

        
    
    
            marker_0c0bca6840394605a25b447f2db69287.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_98f2f1e8e554446ba9d675578fc86293 = L.marker(
                [53.5120412, -2.2434612],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_3df37bc3a09e48019e426e1c1fe6e09b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_98f2f1e8e554446ba9d675578fc86293.setIcon(icon_3df37bc3a09e48019e426e1c1fe6e09b);
        
    
        var popup_012a1f571cd44d439d2f2a3410f638d3 = L.popup({"maxWidth": "100%"});

        
            var html_7384f96cec424cfab20185bb6574704e = $(`<div id="html_7384f96cec424cfab20185bb6574704e" style="width: 100.0%; height: 100.0%;">Blklivesmatter</div>`)[0];
            popup_012a1f571cd44d439d2f2a3410f638d3.setContent(html_7384f96cec424cfab20185bb6574704e);
        

        marker_98f2f1e8e554446ba9d675578fc86293.bindPopup(popup_012a1f571cd44d439d2f2a3410f638d3)
        ;

        
    
    
            marker_98f2f1e8e554446ba9d675578fc86293.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f2106b6fc3244da79e79dea436527041 = L.marker(
                [41.9216734, -93.3122705],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_07bc2355a4e04814bf9282c65b2e3f39 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f2106b6fc3244da79e79dea436527041.setIcon(icon_07bc2355a4e04814bf9282c65b2e3f39);
        
    
        var popup_62d192d512384ba3b0a2dfa9e178dd90 = L.popup({"maxWidth": "100%"});

        
            var html_26824c984612474ea7cbdfec07fe001d = $(`<div id="html_26824c984612474ea7cbdfec07fe001d" style="width: 100.0%; height: 100.0%;">Erdayastronaut</div>`)[0];
            popup_62d192d512384ba3b0a2dfa9e178dd90.setContent(html_26824c984612474ea7cbdfec07fe001d);
        

        marker_f2106b6fc3244da79e79dea436527041.bindPopup(popup_62d192d512384ba3b0a2dfa9e178dd90)
        ;

        
    
    
            marker_f2106b6fc3244da79e79dea436527041.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9037db58d5034bebba14a6c1db234889 = L.marker(
                [33.988334949999995, -118.46152716615018],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_c2756de6ba3b40b5a9949ec47abf271f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9037db58d5034bebba14a6c1db234889.setIcon(icon_c2756de6ba3b40b5a9949ec47abf271f);
        
    
        var popup_341159023c5a469d967559a19fcaeec3 = L.popup({"maxWidth": "100%"});

        
            var html_d1a54ce06cfe42788af4283455c6ae68 = $(`<div id="html_d1a54ce06cfe42788af4283455c6ae68" style="width: 100.0%; height: 100.0%;">wintonARK</div>`)[0];
            popup_341159023c5a469d967559a19fcaeec3.setContent(html_d1a54ce06cfe42788af4283455c6ae68);
        

        marker_9037db58d5034bebba14a6c1db234889.bindPopup(popup_341159023c5a469d967559a19fcaeec3)
        ;

        
    
    
            marker_9037db58d5034bebba14a6c1db234889.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c3e5543ef726442dbc7ada98dbedebca = L.marker(
                [40.69779939901516, -74.00246368486407],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_750c34c4f15241c081c258ca1923ace0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c3e5543ef726442dbc7ada98dbedebca.setIcon(icon_750c34c4f15241c081c258ca1923ace0);
        
    
        var popup_495af34b8783460694636e503329ab85 = L.popup({"maxWidth": "100%"});

        
            var html_62ce81cce6d94a8cb8626e08fa3d7fe3 = $(`<div id="html_62ce81cce6d94a8cb8626e08fa3d7fe3" style="width: 100.0%; height: 100.0%;">TashaARK</div>`)[0];
            popup_495af34b8783460694636e503329ab85.setContent(html_62ce81cce6d94a8cb8626e08fa3d7fe3);
        

        marker_c3e5543ef726442dbc7ada98dbedebca.bindPopup(popup_495af34b8783460694636e503329ab85)
        ;

        
    
    
            marker_c3e5543ef726442dbc7ada98dbedebca.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_78c02cc54dd44e9e90bbafe70a364ee7 = L.marker(
                [3.5000086, -73.0000086],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_e6c49fd2706142b8bb1d7129d01243db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_78c02cc54dd44e9e90bbafe70a364ee7.setIcon(icon_e6c49fd2706142b8bb1d7129d01243db);
        
    
        var popup_ce17f938d43b49cdb7bf49652e8e654b = L.popup({"maxWidth": "100%"});

        
            var html_8f6fa2cca03d4bc08617551f5aaf8eae = $(`<div id="html_8f6fa2cca03d4bc08617551f5aaf8eae" style="width: 100.0%; height: 100.0%;">archillect</div>`)[0];
            popup_ce17f938d43b49cdb7bf49652e8e654b.setContent(html_8f6fa2cca03d4bc08617551f5aaf8eae);
        

        marker_78c02cc54dd44e9e90bbafe70a364ee7.bindPopup(popup_ce17f938d43b49cdb7bf49652e8e654b)
        ;

        
    
    
            marker_78c02cc54dd44e9e90bbafe70a364ee7.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f7eac9dd3a5406bae1c8a09face8861 = L.marker(
                [40.69914230993357, -74.02237919535472],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_aa8f22e7ccdf40e28428364351ec3f8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4f7eac9dd3a5406bae1c8a09face8861.setIcon(icon_aa8f22e7ccdf40e28428364351ec3f8a);
        
    
        var popup_63503f1b497448a8927e4feeee4a96c5 = L.popup({"maxWidth": "100%"});

        
            var html_ce93dc1bba5c4b73a4ea6db1f39787c7 = $(`<div id="html_ce93dc1bba5c4b73a4ea6db1f39787c7" style="width: 100.0%; height: 100.0%;">skorusARK</div>`)[0];
            popup_63503f1b497448a8927e4feeee4a96c5.setContent(html_ce93dc1bba5c4b73a4ea6db1f39787c7);
        

        marker_4f7eac9dd3a5406bae1c8a09face8861.bindPopup(popup_63503f1b497448a8927e4feeee4a96c5)
        ;

        
    
    
            marker_4f7eac9dd3a5406bae1c8a09face8861.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d1bd2291029948a9b6f1df23fc760d45 = L.marker(
                [35.6828387, 139.7594549],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_eb6f12ecdfec4c98812cccc8ca5b2924 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d1bd2291029948a9b6f1df23fc760d45.setIcon(icon_eb6f12ecdfec4c98812cccc8ca5b2924);
        
    
        var popup_0d099f0d3f8d41ecbc3daaba49362aa9 = L.popup({"maxWidth": "100%"});

        
            var html_832546044ad24495ac167c4e106236ac = $(`<div id="html_832546044ad24495ac167c4e106236ac" style="width: 100.0%; height: 100.0%;">hiromichimizuno</div>`)[0];
            popup_0d099f0d3f8d41ecbc3daaba49362aa9.setContent(html_832546044ad24495ac167c4e106236ac);
        

        marker_d1bd2291029948a9b6f1df23fc760d45.bindPopup(popup_0d099f0d3f8d41ecbc3daaba49362aa9)
        ;

        
    
    
            marker_d1bd2291029948a9b6f1df23fc760d45.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a3ac0e1074b468ea4f82993b7e1523f = L.marker(
                [36.1556805, -95.9929113],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_ba811a02e7904eda8ae693deec74a783 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4a3ac0e1074b468ea4f82993b7e1523f.setIcon(icon_ba811a02e7904eda8ae693deec74a783);
        
    
        var popup_53d5922d0ad8406f8405adb42be32135 = L.popup({"maxWidth": "100%"});

        
            var html_7a28fd8ad8cb417f843f5c1a8b234ca2 = $(`<div id="html_7a28fd8ad8cb417f843f5c1a8b234ca2" style="width: 100.0%; height: 100.0%;">JimBridenstine</div>`)[0];
            popup_53d5922d0ad8406f8405adb42be32135.setContent(html_7a28fd8ad8cb417f843f5c1a8b234ca2);
        

        marker_4a3ac0e1074b468ea4f82993b7e1523f.bindPopup(popup_53d5922d0ad8406f8405adb42be32135)
        ;

        
    
    
            marker_4a3ac0e1074b468ea4f82993b7e1523f.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_29d4b82b8ec04be89ba70a60e1f74c27 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_457482a34994481ebc8a305ff6f13ea3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_29d4b82b8ec04be89ba70a60e1f74c27.setIcon(icon_457482a34994481ebc8a305ff6f13ea3);
        
    
        var popup_33b877f6706d4492a454bd5071c0dc46 = L.popup({"maxWidth": "100%"});

        
            var html_760d36d41d4647ebbb8cd47608521008 = $(`<div id="html_760d36d41d4647ebbb8cd47608521008" style="width: 100.0%; height: 100.0%;">SpaceForceCSO</div>`)[0];
            popup_33b877f6706d4492a454bd5071c0dc46.setContent(html_760d36d41d4647ebbb8cd47608521008);
        

        marker_29d4b82b8ec04be89ba70a60e1f74c27.bindPopup(popup_33b877f6706d4492a454bd5071c0dc46)
        ;

        
    
    
            marker_29d4b82b8ec04be89ba70a60e1f74c27.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73154b7e819442c38120b0a780149ed5 = L.marker(
                [38.92631243227849, -77.03057575210067],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_81341df483794a9aab8b0ba8922dbf29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_73154b7e819442c38120b0a780149ed5.setIcon(icon_81341df483794a9aab8b0ba8922dbf29);
        
    
        var popup_4e5063306c1b41a78ef66b58758b836c = L.popup({"maxWidth": "100%"});

        
            var html_a79412357dbd420a9e511bd5259c95cb = $(`<div id="html_a79412357dbd420a9e511bd5259c95cb" style="width: 100.0%; height: 100.0%;">SpaceForceDoD</div>`)[0];
            popup_4e5063306c1b41a78ef66b58758b836c.setContent(html_a79412357dbd420a9e511bd5259c95cb);
        

        marker_73154b7e819442c38120b0a780149ed5.bindPopup(popup_4e5063306c1b41a78ef66b58758b836c)
        ;

        
    
    
            marker_73154b7e819442c38120b0a780149ed5.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_65075754ec95411284c58c3f58e33035 = L.marker(
                [37.7790262, -122.4199061],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_711ab8bbe2bd47279b4367c96b83a99b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_65075754ec95411284c58c3f58e33035.setIcon(icon_711ab8bbe2bd47279b4367c96b83a99b);
        
    
        var popup_fad6d3efc93d42fea1343b50af50634d = L.popup({"maxWidth": "100%"});

        
            var html_037a746cfd1f42478617e7e39535e5f5 = $(`<div id="html_037a746cfd1f42478617e7e39535e5f5" style="width: 100.0%; height: 100.0%;">shivon</div>`)[0];
            popup_fad6d3efc93d42fea1343b50af50634d.setContent(html_037a746cfd1f42478617e7e39535e5f5);
        

        marker_65075754ec95411284c58c3f58e33035.bindPopup(popup_fad6d3efc93d42fea1343b50af50634d)
        ;

        
    
    
            marker_65075754ec95411284c58c3f58e33035.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb082d73df4541a79b28c2175136611c = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_c9f40c0cd1624920a9ee6b8e5c5efe39 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cb082d73df4541a79b28c2175136611c.setIcon(icon_c9f40c0cd1624920a9ee6b8e5c5efe39);
        
    
        var popup_f1de9ad079e1438ea5b486d7a2cbcc8d = L.popup({"maxWidth": "100%"});

        
            var html_5a7d112df8c64e648c95b69902ebdfc0 = $(`<div id="html_5a7d112df8c64e648c95b69902ebdfc0" style="width: 100.0%; height: 100.0%;">Teslarati</div>`)[0];
            popup_f1de9ad079e1438ea5b486d7a2cbcc8d.setContent(html_5a7d112df8c64e648c95b69902ebdfc0);
        

        marker_cb082d73df4541a79b28c2175136611c.bindPopup(popup_f1de9ad079e1438ea5b486d7a2cbcc8d)
        ;

        
    
    
            marker_cb082d73df4541a79b28c2175136611c.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f9b82598f20d41c0a8a4ac5233577bfe = L.marker(
                [40.681694961923206, -74.00389695748716],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_6e7f46f645274ac99e41a2a4134f33d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f9b82598f20d41c0a8a4ac5233577bfe.setIcon(icon_6e7f46f645274ac99e41a2a4134f33d4);
        
    
        var popup_c9d57d22fb5b4dc188f5cdd539401464 = L.popup({"maxWidth": "100%"});

        
            var html_c1a89e2eab2e433882ed0d6ce9147d4d = $(`<div id="html_c1a89e2eab2e433882ed0d6ce9147d4d" style="width: 100.0%; height: 100.0%;">neiltyson</div>`)[0];
            popup_c9d57d22fb5b4dc188f5cdd539401464.setContent(html_c1a89e2eab2e433882ed0d6ce9147d4d);
        

        marker_f9b82598f20d41c0a8a4ac5233577bfe.bindPopup(popup_c9d57d22fb5b4dc188f5cdd539401464)
        ;

        
    
    
            marker_f9b82598f20d41c0a8a4ac5233577bfe.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69b16726831d451d84b8574e2c853141 = L.marker(
                [31.199004, 29.894378],
                {}
            ).addTo(feature_group_02af6072a74242f6b1ebacf8e67e3cb2);
        
    
            var icon_6e43148166cc4b4faaded6d96199189a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_69b16726831d451d84b8574e2c853141.setIcon(icon_6e43148166cc4b4faaded6d96199189a);
        
    
        var popup_e27e5362dd5349b7bfb30feed35269bb = L.popup({"maxWidth": "100%"});

        
            var html_e9b0461d02ab4153b900901f745d0555 = $(`<div id="html_e9b0461d02ab4153b900901f745d0555" style="width: 100.0%; height: 100.0%;">Berger_SN</div>`)[0];
            popup_e27e5362dd5349b7bfb30feed35269bb.setContent(html_e9b0461d02ab4153b900901f745d0555);
        

        marker_69b16726831d451d84b8574e2c853141.bindPopup(popup_e27e5362dd5349b7bfb30feed35269bb)
        ;

        
    
    
            marker_69b16726831d451d84b8574e2c853141.bindTooltip(
                `<div>
                     flex!
                 </div>`,
                {"sticky": true}
            );
        
</script>