<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b80ed6a2b3d34b65aa7ef2e30e283016 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b80ed6a2b3d34b65aa7ef2e30e283016" ></div>
        
</body>
<script>    
    
            var map_b80ed6a2b3d34b65aa7ef2e30e283016 = L.map(
                "map_b80ed6a2b3d34b65aa7ef2e30e283016",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_85cbeb7f509a4db398ed3cab0f33dd8c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b80ed6a2b3d34b65aa7ef2e30e283016);
        
    
            var feature_group_9541913d0d9e4e67ab3efd9072bfe0c2 = L.featureGroup(
                {}
            ).addTo(map_b80ed6a2b3d34b65aa7ef2e30e283016);
        
    
            var marker_0d2163491e4140fe9d837406eef8323e = L.marker(
                [42.6410472, -70.6165149],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_1bb51b89685741f9aed9a9e63f6bed25 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0d2163491e4140fe9d837406eef8323e.setIcon(icon_1bb51b89685741f9aed9a9e63f6bed25);
        
    
        var popup_a30e18a4f9ae449288305279816f786b = L.popup({"maxWidth": "100%"});

        
            var html_3cbb3d0f99a9498bbdfd66a2e7243791 = $(`<div id="html_3cbb3d0f99a9498bbdfd66a2e7243791" style="width: 100.0%; height: 100.0%;">dogecoin_devs</div>`)[0];
            popup_a30e18a4f9ae449288305279816f786b.setContent(html_3cbb3d0f99a9498bbdfd66a2e7243791);
        

        marker_0d2163491e4140fe9d837406eef8323e.bindPopup(popup_a30e18a4f9ae449288305279816f786b)
        ;

        
    
    
            marker_0d2163491e4140fe9d837406eef8323e.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49dde0c73eaa4af9a8743e3bb4f9381c = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_788b43a872c04cb0a29056de590d3827 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_49dde0c73eaa4af9a8743e3bb4f9381c.setIcon(icon_788b43a872c04cb0a29056de590d3827);
        
    
        var popup_59ca3f475dc64df4b90bbf82852c752b = L.popup({"maxWidth": "100%"});

        
            var html_cbf6e4fd7fd54ed4aabc4a8852b5e3fa = $(`<div id="html_cbf6e4fd7fd54ed4aabc4a8852b5e3fa" style="width: 100.0%; height: 100.0%;">dogecoin</div>`)[0];
            popup_59ca3f475dc64df4b90bbf82852c752b.setContent(html_cbf6e4fd7fd54ed4aabc4a8852b5e3fa);
        

        marker_49dde0c73eaa4af9a8743e3bb4f9381c.bindPopup(popup_59ca3f475dc64df4b90bbf82852c752b)
        ;

        
    
    
            marker_49dde0c73eaa4af9a8743e3bb4f9381c.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0ccdfc82c8d7416aaed6ed8732e2ee10 = L.marker(
                [37.426540700000004, -122.17029258409187],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_37169d3cf9e64f9cb2add1ad0677bddb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0ccdfc82c8d7416aaed6ed8732e2ee10.setIcon(icon_37169d3cf9e64f9cb2add1ad0677bddb);
        
    
        var popup_9ff2773f356f45069c135d9c5166b918 = L.popup({"maxWidth": "100%"});

        
            var html_c6f7890843b44a14864dc4ea06ce0d8b = $(`<div id="html_c6f7890843b44a14864dc4ea06ce0d8b" style="width: 100.0%; height: 100.0%;">karpathy</div>`)[0];
            popup_9ff2773f356f45069c135d9c5166b918.setContent(html_c6f7890843b44a14864dc4ea06ce0d8b);
        

        marker_0ccdfc82c8d7416aaed6ed8732e2ee10.bindPopup(popup_9ff2773f356f45069c135d9c5166b918)
        ;

        
    
    
            marker_0ccdfc82c8d7416aaed6ed8732e2ee10.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_61520b553ffd4d31a6a91d3decaf2af8 = L.marker(
                [29.5517223, -95.0985272],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_439da55fa53a43589a04b2f8834b2d80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_61520b553ffd4d31a6a91d3decaf2af8.setIcon(icon_439da55fa53a43589a04b2f8834b2d80);
        
    
        var popup_1dbdce8cf8a44046b8f46acd5fa1f1ed = L.popup({"maxWidth": "100%"});

        
            var html_798e2903294147cc86d39dcf511e30fa = $(`<div id="html_798e2903294147cc86d39dcf511e30fa" style="width: 100.0%; height: 100.0%;">Astro_Soichi</div>`)[0];
            popup_1dbdce8cf8a44046b8f46acd5fa1f1ed.setContent(html_798e2903294147cc86d39dcf511e30fa);
        

        marker_61520b553ffd4d31a6a91d3decaf2af8.bindPopup(popup_1dbdce8cf8a44046b8f46acd5fa1f1ed)
        ;

        
    
    
            marker_61520b553ffd4d31a6a91d3decaf2af8.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40df6d0974a741da8c83f03b63108902 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_41e18104956c41499363603af32d7925 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_40df6d0974a741da8c83f03b63108902.setIcon(icon_41e18104956c41499363603af32d7925);
        
    
        var popup_35789d5057e247789161c461f778d378 = L.popup({"maxWidth": "100%"});

        
            var html_5c013336bed749af9a401e34fb0f76c0 = $(`<div id="html_5c013336bed749af9a401e34fb0f76c0" style="width: 100.0%; height: 100.0%;">PopMech</div>`)[0];
            popup_35789d5057e247789161c461f778d378.setContent(html_5c013336bed749af9a401e34fb0f76c0);
        

        marker_40df6d0974a741da8c83f03b63108902.bindPopup(popup_35789d5057e247789161c461f778d378)
        ;

        
    
    
            marker_40df6d0974a741da8c83f03b63108902.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58691ac4672e41bcaebe9a89d34859fe = L.marker(
                [-6.1753942, 106.827183],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_0385e99f0291430e8656a88477d37aa1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_58691ac4672e41bcaebe9a89d34859fe.setIcon(icon_0385e99f0291430e8656a88477d37aa1);
        
    
        var popup_9b3e0cd495124c03b10e5bbea3ac285d = L.popup({"maxWidth": "100%"});

        
            var html_7340d09de0ab4d22af6537e9566b6513 = $(`<div id="html_7340d09de0ab4d22af6537e9566b6513" style="width: 100.0%; height: 100.0%;">Nigel_Lockyer</div>`)[0];
            popup_9b3e0cd495124c03b10e5bbea3ac285d.setContent(html_7340d09de0ab4d22af6537e9566b6513);
        

        marker_58691ac4672e41bcaebe9a89d34859fe.bindPopup(popup_9b3e0cd495124c03b10e5bbea3ac285d)
        ;

        
    
    
            marker_58691ac4672e41bcaebe9a89d34859fe.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abf00c9e5a1649c5bbdf5535811884a9 = L.marker(
                [58.581722413351045, 23.221716761276884],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_fa58fb94b4c347949c4a3301c0793d02 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_abf00c9e5a1649c5bbdf5535811884a9.setIcon(icon_fa58fb94b4c347949c4a3301c0793d02);
        
    
        var popup_6fc1380915eb44e3830d08e068d65c25 = L.popup({"maxWidth": "100%"});

        
            var html_473afb32552a4ed7aab70fc8fe19cdf2 = $(`<div id="html_473afb32552a4ed7aab70fc8fe19cdf2" style="width: 100.0%; height: 100.0%;">jagarikin</div>`)[0];
            popup_6fc1380915eb44e3830d08e068d65c25.setContent(html_473afb32552a4ed7aab70fc8fe19cdf2);
        

        marker_abf00c9e5a1649c5bbdf5535811884a9.bindPopup(popup_6fc1380915eb44e3830d08e068d65c25)
        ;

        
    
    
            marker_abf00c9e5a1649c5bbdf5535811884a9.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_131efc9c21434f189767850c1dc65a80 = L.marker(
                [31.2322758, 121.4692071],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_00ca5ccc2a2444c0b2befbe24b8ca3db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_131efc9c21434f189767850c1dc65a80.setIcon(icon_00ca5ccc2a2444c0b2befbe24b8ca3db);
        
    
        var popup_b8aaaf26a8734b75841547388dc4d785 = L.popup({"maxWidth": "100%"});

        
            var html_cd09e8ce21fe4cc5808ca89218a3763a = $(`<div id="html_cd09e8ce21fe4cc5808ca89218a3763a" style="width: 100.0%; height: 100.0%;">teslacn</div>`)[0];
            popup_b8aaaf26a8734b75841547388dc4d785.setContent(html_cd09e8ce21fe4cc5808ca89218a3763a);
        

        marker_131efc9c21434f189767850c1dc65a80.bindPopup(popup_b8aaaf26a8734b75841547388dc4d785)
        ;

        
    
    
            marker_131efc9c21434f189767850c1dc65a80.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c109686fa1134790b6909dc26d9ab2bc = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_facdeb6fe83f4227bb588262e904cf08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c109686fa1134790b6909dc26d9ab2bc.setIcon(icon_facdeb6fe83f4227bb588262e904cf08);
        
    
        var popup_eebea3050a2e4c7896642f4948569f68 = L.popup({"maxWidth": "100%"});

        
            var html_289e1a1675174569aabe3b9bd2b887ee = $(`<div id="html_289e1a1675174569aabe3b9bd2b887ee" style="width: 100.0%; height: 100.0%;">DeepMind</div>`)[0];
            popup_eebea3050a2e4c7896642f4948569f68.setContent(html_289e1a1675174569aabe3b9bd2b887ee);
        

        marker_c109686fa1134790b6909dc26d9ab2bc.bindPopup(popup_eebea3050a2e4c7896642f4948569f68)
        ;

        
    
    
            marker_c109686fa1134790b6909dc26d9ab2bc.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aba3080b2a93464da36d00f7b40b7d82 = L.marker(
                [28.58977955, -81.19966950777493],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_8c7f85671bac4b90b5e821c04ca370dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aba3080b2a93464da36d00f7b40b7d82.setIcon(icon_8c7f85671bac4b90b5e821c04ca370dd);
        
    
        var popup_371979f6cecd40e995aa2c6a2ccddb8c = L.popup({"maxWidth": "100%"});

        
            var html_530c507a6d0e4b14a646e3d51112ffe1 = $(`<div id="html_530c507a6d0e4b14a646e3d51112ffe1" style="width: 100.0%; height: 100.0%;">ashleevance</div>`)[0];
            popup_371979f6cecd40e995aa2c6a2ccddb8c.setContent(html_530c507a6d0e4b14a646e3d51112ffe1);
        

        marker_aba3080b2a93464da36d00f7b40b7d82.bindPopup(popup_371979f6cecd40e995aa2c6a2ccddb8c)
        ;

        
    
    
            marker_aba3080b2a93464da36d00f7b40b7d82.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63bbc4b77503497094eec6e273f662de = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_4e9bbd21e2af497eaff15ba2136c2bc2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_63bbc4b77503497094eec6e273f662de.setIcon(icon_4e9bbd21e2af497eaff15ba2136c2bc2);
        
    
        var popup_4e27cd67f2e44fdbb9adf9cfcd3eb614 = L.popup({"maxWidth": "100%"});

        
            var html_8c8a0b2683dd4147924dcf999f7739cd = $(`<div id="html_8c8a0b2683dd4147924dcf999f7739cd" style="width: 100.0%; height: 100.0%;">MLevitt_NP2013</div>`)[0];
            popup_4e27cd67f2e44fdbb9adf9cfcd3eb614.setContent(html_8c8a0b2683dd4147924dcf999f7739cd);
        

        marker_63bbc4b77503497094eec6e273f662de.bindPopup(popup_4e27cd67f2e44fdbb9adf9cfcd3eb614)
        ;

        
    
    
            marker_63bbc4b77503497094eec6e273f662de.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_01adef18cdf94276b264598db0566214 = L.marker(
                [32.7762719, -96.7968559],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_03a17f2d957d4fc28cff85c703a79a98 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_01adef18cdf94276b264598db0566214.setIcon(icon_03a17f2d957d4fc28cff85c703a79a98);
        
    
        var popup_1fb5bd7dd04345cfbb6ac4af9532561f = L.popup({"maxWidth": "100%"});

        
            var html_3847ac5eb9bb40eca81e0f40a5919d5b = $(`<div id="html_3847ac5eb9bb40eca81e0f40a5919d5b" style="width: 100.0%; height: 100.0%;">ID_AA_Carmack</div>`)[0];
            popup_1fb5bd7dd04345cfbb6ac4af9532561f.setContent(html_3847ac5eb9bb40eca81e0f40a5919d5b);
        

        marker_01adef18cdf94276b264598db0566214.bindPopup(popup_1fb5bd7dd04345cfbb6ac4af9532561f)
        ;

        
    
    
            marker_01adef18cdf94276b264598db0566214.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15482b2c2bba4a5d941b1eccbdd87777 = L.marker(
                [51.4921149588595, -0.15224276660326017],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_173955083ed945beb737f22fbf57bbbf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_15482b2c2bba4a5d941b1eccbdd87777.setIcon(icon_173955083ed945beb737f22fbf57bbbf);
        
    
        var popup_5d13b235b32d4401a598f20a8a6fb39d = L.popup({"maxWidth": "100%"});

        
            var html_8fa32a94a0b648f6ad7d0535c4e3e03b = $(`<div id="html_8fa32a94a0b648f6ad7d0535c4e3e03b" style="width: 100.0%; height: 100.0%;">TalulahRiley</div>`)[0];
            popup_5d13b235b32d4401a598f20a8a6fb39d.setContent(html_8fa32a94a0b648f6ad7d0535c4e3e03b);
        

        marker_15482b2c2bba4a5d941b1eccbdd87777.bindPopup(popup_5d13b235b32d4401a598f20a8a6fb39d)
        ;

        
    
    
            marker_15482b2c2bba4a5d941b1eccbdd87777.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7611c86d0d774405ab230aadcdd4256a = L.marker(
                [40.71133941830109, -73.9955900187116],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_7a7b9e12f74b4374a295537e475e0c18 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7611c86d0d774405ab230aadcdd4256a.setIcon(icon_7a7b9e12f74b4374a295537e475e0c18);
        
    
        var popup_f0eea86a4f4346d8943e96943b016c99 = L.popup({"maxWidth": "100%"});

        
            var html_8a5d4d2732bd4939b1e6e47bbbe8b34e = $(`<div id="html_8a5d4d2732bd4939b1e6e47bbbe8b34e" style="width: 100.0%; height: 100.0%;">MKBHD</div>`)[0];
            popup_f0eea86a4f4346d8943e96943b016c99.setContent(html_8a5d4d2732bd4939b1e6e47bbbe8b34e);
        

        marker_7611c86d0d774405ab230aadcdd4256a.bindPopup(popup_f0eea86a4f4346d8943e96943b016c99)
        ;

        
    
    
            marker_7611c86d0d774405ab230aadcdd4256a.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d5c66fed7ab4113a4b4afdf1a1347f0 = L.marker(
                [53.5120412, -2.2434612],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_4fc299ef8b024f2bb179951d3aa73d9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5d5c66fed7ab4113a4b4afdf1a1347f0.setIcon(icon_4fc299ef8b024f2bb179951d3aa73d9b);
        
    
        var popup_2db8f49cad1b4595bc2dbe292bcef57f = L.popup({"maxWidth": "100%"});

        
            var html_247887b5152f447d81f3a5cd795917af = $(`<div id="html_247887b5152f447d81f3a5cd795917af" style="width: 100.0%; height: 100.0%;">Blklivesmatter</div>`)[0];
            popup_2db8f49cad1b4595bc2dbe292bcef57f.setContent(html_247887b5152f447d81f3a5cd795917af);
        

        marker_5d5c66fed7ab4113a4b4afdf1a1347f0.bindPopup(popup_2db8f49cad1b4595bc2dbe292bcef57f)
        ;

        
    
    
            marker_5d5c66fed7ab4113a4b4afdf1a1347f0.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f3ca82429f7b40519ef800ddc850d13f = L.marker(
                [41.9216734, -93.3122705],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_05f514be901c466e86043b5f285a579d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f3ca82429f7b40519ef800ddc850d13f.setIcon(icon_05f514be901c466e86043b5f285a579d);
        
    
        var popup_a6c0f995d0c843338417fa8780e71920 = L.popup({"maxWidth": "100%"});

        
            var html_d336f08da3e94dd7861bff4b115cabf7 = $(`<div id="html_d336f08da3e94dd7861bff4b115cabf7" style="width: 100.0%; height: 100.0%;">Erdayastronaut</div>`)[0];
            popup_a6c0f995d0c843338417fa8780e71920.setContent(html_d336f08da3e94dd7861bff4b115cabf7);
        

        marker_f3ca82429f7b40519ef800ddc850d13f.bindPopup(popup_a6c0f995d0c843338417fa8780e71920)
        ;

        
    
    
            marker_f3ca82429f7b40519ef800ddc850d13f.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cad0d491bc6b4d74861cd98c3297c6ea = L.marker(
                [33.988334949999995, -118.46152716615018],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_f66378a231b144e3a3ff98aaf653cc4a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cad0d491bc6b4d74861cd98c3297c6ea.setIcon(icon_f66378a231b144e3a3ff98aaf653cc4a);
        
    
        var popup_399dab1432574290bbc6a8dcee6fdd1b = L.popup({"maxWidth": "100%"});

        
            var html_368ff7869e73446c99e919dac48369f9 = $(`<div id="html_368ff7869e73446c99e919dac48369f9" style="width: 100.0%; height: 100.0%;">wintonARK</div>`)[0];
            popup_399dab1432574290bbc6a8dcee6fdd1b.setContent(html_368ff7869e73446c99e919dac48369f9);
        

        marker_cad0d491bc6b4d74861cd98c3297c6ea.bindPopup(popup_399dab1432574290bbc6a8dcee6fdd1b)
        ;

        
    
    
            marker_cad0d491bc6b4d74861cd98c3297c6ea.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb747bef409b48029085bc2f12d57db9 = L.marker(
                [40.69362111437809, -74.03539702896245],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_d24e2a0cf3954aee8e8271f2dc3ee745 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bb747bef409b48029085bc2f12d57db9.setIcon(icon_d24e2a0cf3954aee8e8271f2dc3ee745);
        
    
        var popup_f50aa985f70a4eab9af4981ba5b66a60 = L.popup({"maxWidth": "100%"});

        
            var html_910fc8dfe0094fadb9e5cac73d80f894 = $(`<div id="html_910fc8dfe0094fadb9e5cac73d80f894" style="width: 100.0%; height: 100.0%;">TashaARK</div>`)[0];
            popup_f50aa985f70a4eab9af4981ba5b66a60.setContent(html_910fc8dfe0094fadb9e5cac73d80f894);
        

        marker_bb747bef409b48029085bc2f12d57db9.bindPopup(popup_f50aa985f70a4eab9af4981ba5b66a60)
        ;

        
    
    
            marker_bb747bef409b48029085bc2f12d57db9.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_324072d0908349c9bcee864489d62026 = L.marker(
                [3.5000086, -73.0000086],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_a46b83d0bdca4c9783c1905bc34d527b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_324072d0908349c9bcee864489d62026.setIcon(icon_a46b83d0bdca4c9783c1905bc34d527b);
        
    
        var popup_0df6df93406d4c7987ea1faa3f370c7b = L.popup({"maxWidth": "100%"});

        
            var html_2448e6fd388344808d2d7f687a45d5b6 = $(`<div id="html_2448e6fd388344808d2d7f687a45d5b6" style="width: 100.0%; height: 100.0%;">archillect</div>`)[0];
            popup_0df6df93406d4c7987ea1faa3f370c7b.setContent(html_2448e6fd388344808d2d7f687a45d5b6);
        

        marker_324072d0908349c9bcee864489d62026.bindPopup(popup_0df6df93406d4c7987ea1faa3f370c7b)
        ;

        
    
    
            marker_324072d0908349c9bcee864489d62026.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b18c1b953c374d53bfb58a96eea62722 = L.marker(
                [40.709380970397035, -73.97588729925788],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_c107347fe37e4e2d9a934b95e9177569 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b18c1b953c374d53bfb58a96eea62722.setIcon(icon_c107347fe37e4e2d9a934b95e9177569);
        
    
        var popup_dd2d8180ec0649f890d9d8817dcd9bfa = L.popup({"maxWidth": "100%"});

        
            var html_ba799b30b412416c9f7f8e2e6af8c7e1 = $(`<div id="html_ba799b30b412416c9f7f8e2e6af8c7e1" style="width: 100.0%; height: 100.0%;">skorusARK</div>`)[0];
            popup_dd2d8180ec0649f890d9d8817dcd9bfa.setContent(html_ba799b30b412416c9f7f8e2e6af8c7e1);
        

        marker_b18c1b953c374d53bfb58a96eea62722.bindPopup(popup_dd2d8180ec0649f890d9d8817dcd9bfa)
        ;

        
    
    
            marker_b18c1b953c374d53bfb58a96eea62722.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1eaa8905c9d2432ea29edfd01ec313dc = L.marker(
                [35.6828387, 139.7594549],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_defad61c8343436ba082e467dcda2e01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1eaa8905c9d2432ea29edfd01ec313dc.setIcon(icon_defad61c8343436ba082e467dcda2e01);
        
    
        var popup_514e84e1864545f2b459473ebf8a3080 = L.popup({"maxWidth": "100%"});

        
            var html_69ad777241974652928c3b0d3205d155 = $(`<div id="html_69ad777241974652928c3b0d3205d155" style="width: 100.0%; height: 100.0%;">hiromichimizuno</div>`)[0];
            popup_514e84e1864545f2b459473ebf8a3080.setContent(html_69ad777241974652928c3b0d3205d155);
        

        marker_1eaa8905c9d2432ea29edfd01ec313dc.bindPopup(popup_514e84e1864545f2b459473ebf8a3080)
        ;

        
    
    
            marker_1eaa8905c9d2432ea29edfd01ec313dc.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_87636cf7b2e14c9e912dd2d6754446fd = L.marker(
                [36.1556805, -95.9929113],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_e9d62ab8635e4ca68334b3526675b170 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_87636cf7b2e14c9e912dd2d6754446fd.setIcon(icon_e9d62ab8635e4ca68334b3526675b170);
        
    
        var popup_0774c62e35cb42ecaad471f4f6b125ab = L.popup({"maxWidth": "100%"});

        
            var html_60c0b72262554cedb21d5edd45737adf = $(`<div id="html_60c0b72262554cedb21d5edd45737adf" style="width: 100.0%; height: 100.0%;">JimBridenstine</div>`)[0];
            popup_0774c62e35cb42ecaad471f4f6b125ab.setContent(html_60c0b72262554cedb21d5edd45737adf);
        

        marker_87636cf7b2e14c9e912dd2d6754446fd.bindPopup(popup_0774c62e35cb42ecaad471f4f6b125ab)
        ;

        
    
    
            marker_87636cf7b2e14c9e912dd2d6754446fd.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc7c8e11b0d14e5cb33bce55dc96b8a1 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_e60c065e35e04aa7b4f902722c0df415 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cc7c8e11b0d14e5cb33bce55dc96b8a1.setIcon(icon_e60c065e35e04aa7b4f902722c0df415);
        
    
        var popup_c0cc38aaafc146b0a346063fd3310e50 = L.popup({"maxWidth": "100%"});

        
            var html_b4750d4942dd42ce9c900698044ed3ac = $(`<div id="html_b4750d4942dd42ce9c900698044ed3ac" style="width: 100.0%; height: 100.0%;">SpaceForceCSO</div>`)[0];
            popup_c0cc38aaafc146b0a346063fd3310e50.setContent(html_b4750d4942dd42ce9c900698044ed3ac);
        

        marker_cc7c8e11b0d14e5cb33bce55dc96b8a1.bindPopup(popup_c0cc38aaafc146b0a346063fd3310e50)
        ;

        
    
    
            marker_cc7c8e11b0d14e5cb33bce55dc96b8a1.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bebb144002a94a759caf36b3a35284e0 = L.marker(
                [38.91997340076199, -77.02469623188034],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_9eb77a2a87794672b92c80ff1b924915 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bebb144002a94a759caf36b3a35284e0.setIcon(icon_9eb77a2a87794672b92c80ff1b924915);
        
    
        var popup_33181936e6f2416f89945a6d83a81b47 = L.popup({"maxWidth": "100%"});

        
            var html_1fd5232a4a6644a3ab02e19410cae4b4 = $(`<div id="html_1fd5232a4a6644a3ab02e19410cae4b4" style="width: 100.0%; height: 100.0%;">SpaceForceDoD</div>`)[0];
            popup_33181936e6f2416f89945a6d83a81b47.setContent(html_1fd5232a4a6644a3ab02e19410cae4b4);
        

        marker_bebb144002a94a759caf36b3a35284e0.bindPopup(popup_33181936e6f2416f89945a6d83a81b47)
        ;

        
    
    
            marker_bebb144002a94a759caf36b3a35284e0.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df9d3a0744394391b2fbdf30149f097d = L.marker(
                [37.7790262, -122.4199061],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_36166e5e45974948b336117114b329f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_df9d3a0744394391b2fbdf30149f097d.setIcon(icon_36166e5e45974948b336117114b329f9);
        
    
        var popup_8d983cf3ba4a413ab9d9b081c53cbc41 = L.popup({"maxWidth": "100%"});

        
            var html_112877fbc36f49cca8b79b35005ca60f = $(`<div id="html_112877fbc36f49cca8b79b35005ca60f" style="width: 100.0%; height: 100.0%;">shivon</div>`)[0];
            popup_8d983cf3ba4a413ab9d9b081c53cbc41.setContent(html_112877fbc36f49cca8b79b35005ca60f);
        

        marker_df9d3a0744394391b2fbdf30149f097d.bindPopup(popup_8d983cf3ba4a413ab9d9b081c53cbc41)
        ;

        
    
    
            marker_df9d3a0744394391b2fbdf30149f097d.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7e20708befa1426c95f3f0c44622a839 = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_db88459769d7430186bf381af8c6c1a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7e20708befa1426c95f3f0c44622a839.setIcon(icon_db88459769d7430186bf381af8c6c1a6);
        
    
        var popup_1c4056211f7c43e6a593283bb34c4218 = L.popup({"maxWidth": "100%"});

        
            var html_c350e5f6520d4bcd950dacc656969b33 = $(`<div id="html_c350e5f6520d4bcd950dacc656969b33" style="width: 100.0%; height: 100.0%;">Teslarati</div>`)[0];
            popup_1c4056211f7c43e6a593283bb34c4218.setContent(html_c350e5f6520d4bcd950dacc656969b33);
        

        marker_7e20708befa1426c95f3f0c44622a839.bindPopup(popup_1c4056211f7c43e6a593283bb34c4218)
        ;

        
    
    
            marker_7e20708befa1426c95f3f0c44622a839.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d426c912e34343d79e72d20aac9ed748 = L.marker(
                [40.739286580341386, -74.00310937253168],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_2a0c05ee3c4e4f6fa524360f3674f516 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d426c912e34343d79e72d20aac9ed748.setIcon(icon_2a0c05ee3c4e4f6fa524360f3674f516);
        
    
        var popup_ff2ab317a2e249c28bf685587abe226f = L.popup({"maxWidth": "100%"});

        
            var html_592663b57eeb47d19325ad0b7df9e236 = $(`<div id="html_592663b57eeb47d19325ad0b7df9e236" style="width: 100.0%; height: 100.0%;">neiltyson</div>`)[0];
            popup_ff2ab317a2e249c28bf685587abe226f.setContent(html_592663b57eeb47d19325ad0b7df9e236);
        

        marker_d426c912e34343d79e72d20aac9ed748.bindPopup(popup_ff2ab317a2e249c28bf685587abe226f)
        ;

        
    
    
            marker_d426c912e34343d79e72d20aac9ed748.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0fef6a5f84af4530966e967a5da5e24e = L.marker(
                [31.199004, 29.894378],
                {}
            ).addTo(feature_group_9541913d0d9e4e67ab3efd9072bfe0c2);
        
    
            var icon_b1a548dfa4234feb904302c28235b564 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0fef6a5f84af4530966e967a5da5e24e.setIcon(icon_b1a548dfa4234feb904302c28235b564);
        
    
        var popup_212b78072a394be38fd228263913db80 = L.popup({"maxWidth": "100%"});

        
            var html_a1f9272d80ea4091a9819dd25648fc13 = $(`<div id="html_a1f9272d80ea4091a9819dd25648fc13" style="width: 100.0%; height: 100.0%;">Berger_SN</div>`)[0];
            popup_212b78072a394be38fd228263913db80.setContent(html_a1f9272d80ea4091a9819dd25648fc13);
        

        marker_0fef6a5f84af4530966e967a5da5e24e.bindPopup(popup_212b78072a394be38fd228263913db80)
        ;

        
    
    
            marker_0fef6a5f84af4530966e967a5da5e24e.bindTooltip(
                `<div>
                     Hype!
                 </div>`,
                {"sticky": true}
            );
        
</script>